@import "libs/variables";
@import "libs/mixins";
@import "libs/icons";

@import 'bundles/mapbendermanager/sass/manager/manager.scss';

//@import "bundles/mapbendermanager/sass/element/form.scss";
@import "bundles/mapbendermanager/sass/element/layertree.scss";
@import "bundles/mapbendermanager/sass/element/map.scss";
@import "bundles/mapbendermanager/sass/element/printclient.scss";
@import "bundles/mapbendermanager/sass/manager/services.scss";
@import "bundles/mapbendermanager/sass/manager/user_control.scss";


.sidebar {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 52px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.sidebar-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100%;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}


.content {
    padding-top: 52px;
}
